<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button Biodiversity Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Belly Button Biodiversity Dashboard</h1>
    <h4>Use the interactive charts below to explore the dataset</h4>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
            <br>
            <table>
              <tr> Sample MetaData </tr>
              <tr>
              <tr id="age"></tr>
              <tr id="bbtype"></tr>
              <tr id="ethnicity"></tr>
              <tr id="gender"></tr>
              <tr id="location"></tr>
              <tr id="sampleid"></tr>
              </tr>
            </table> 
            </div>
            <div class="col-md-6">
            <div id="piechart"></div>
            
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div id="bubblechart"></div>
        </div>
    </div>
  </div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>

